.App {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.App-content {
  padding: 0 20px;
}

.RecipeList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.RecipeList .RecipePreview {
  margin: 0 10px 10px 0;
  padding: 10px;
  width: 200px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #666;
}

.RecipeList .RecipePreview:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
